.home-view {
}

.home-view__swiper-img {
    aspect-ratio: 16 / 9;
}

.home-view__images-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.home-view__image-link {
    width: 100%;
}

.home-view__image {
    aspect-ratio: 16 / 9;
}

.home-view__info {
    margin-top: 32px;
    margin-bottom: 32px;
}

.home-view__information-block {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: .3s;
}

.home-view__information-block:hover {
    box-shadow: 5px 5px 30px rgb(0 0 0 / 50%);
}

.home-view__information-block-not-active {
    cursor: auto;
}

.home-view__information-block-title {
    text-align: center;
    margin-bottom: 20px;
}

.home-view__information-block-text {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 15px;
}

.home-view__info-title {
    font-size: 40px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

.home-view__info-text {
    font-size: 16px;
    line-height: 24px;
}

@media (min-width: 576px) {
    .home-view__images-wrap {
        flex-direction: row;
    }

    .home-view__image-link {
        width: 49%;
    }

    .home-view__info-delivery {
        gap: 15px;
    }

    .home-view__info-delivery-text {
        font-size: 16px;
    }
}
  
@media (min-width: 768px) {
    .home-view__info-delivery-img {
        width: 50px;
        height: 50px;
    }

    .home-view__info-delivery-text {
        font-size: 24px;
    }
}

@media (min-width: 960px) {
  
}
  
@media (min-width: 1080px) {
    
}