.page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-not-found__number {
    display: block;
    font-size: 80px;
    color: red;
    margin-bottom: 30px;
}

.page-not-found__title {
    display: block;
    font-size: 45px;
    margin-bottom: 30px;
}

.page-not-found__btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    
}

@media (min-width: 1080px) {

}