.user-shop__btn {
    border: 1px solid #000;
    margin: 50px;
}
/* 
.user-shop__input-btn-wrap {

} 

.user-shop__input-btn {
    display: inline-block;
    text-align: center;
    padding: 8px;
    border-radius: 50%;
    transition: .3s;
}

.user-shop__input-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.user-shop__input-btn-img {
    width: 25px;
    height: 25px;
} */



@media (min-width: 576px) {

}

@media (min-width: 768px) {
    
}

@media (min-width: 1080px) {
 
}