.user-categories {
    padding-top: 15px;
    padding-bottom: 15px;
}

.user-categories--wrpa {

}

.user-categories__title {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

.user-categories__error-create-text {
    position: relative;
    display: inline-block;
    text-align: center;
    color: rgb(249, 23, 23);
}

.user-categories__error-create-btn {
    position: absolute;
    top: -9px;
    right: -25px;
    width: 20px;
    text-align: center;
    height: 20px;
    border: 1px solid rgb(249, 23, 23);
    border-radius: 50%;
    padding-left: 1px;
}

.user-categories__create {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #eee;
    color: #444;
    padding: 8px 16px;
    width: 100%;
    text-align: left;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    gap: 15px;
    box-shadow: 2px 1px 3px rgb(0 0 0 / 52%);
}

.user-categories__create-input-wrap {

}

.user-categories__create-label {
    display: block;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-categories__create-input {
    padding: 10px 20px;
    max-width: 45%;
    width: 100%;
    min-width: 250px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 17px;
    color: #333;
    outline: none;
    border-radius: 8px;
    background: #f6f7fa;
    border: 1px solid #065bea;
}

.user-categories__create-input-file {
    width: 90%;
    margin-top: 6px;
    margin-bottom: 6px;
}

.user-categories__create-btn-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}

.user-categories__create-btn {
    border: 2px solid black;
    background-color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-color: #0d48ac;
    color: #0d48ac;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    display: block;
    transition: .3s;
}

.user-categories__create-btn:hover {
    background: #0d48ac;
    color: white;
}

.user-categories__create-btn-info-wrap {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.user-categories__create-btn-info-wrap:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.user-categories__create-btn-info {
    position: absolute;
    top: 4px;
    left: 7px;
    width: 12px;
    height: 12px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: rotate(-45deg);
}

.user-categories__create-btn-info--active {
    top: 9px;
    transform: rotate(135deg);
}

.user-categories__create-info {
    display: none;
    padding: 10px 15px;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: .3s;
    /* transition: max-height 0.2s ease-out; */
}

.user-categories__create-info--active {
    display: block;
    max-height: 100%;
}

.user-categories__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.user-categories__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    border: 5px solid #e3dede;
    box-shadow: 2px 3px 8px rgb(0 0 0 / 52%);
}


.user-categories__card-img {
    aspect-ratio: 16 / 9;
    /* max-width: 50%; */
    width: 100%;
    object-fit: cover;
    height: auto;
}

.user-categories__card-img-none {
    aspect-ratio: 16 / 9;
    /* max-width: 50%; */
    width: 100%;
    object-fit: contain;
    height: auto;
    padding-top: 10px;
}

.user-categories__card-info {
    /* width: 50%; */
    width: 100%;
    padding: 10px;
}

.user-categories__card-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding-top: 5px;
    padding: 5px;
    /* padding-bottom: 5px; */
    /* margin-bottom: 20px; */
}

.user-categories__card-title {
    font-size: 27px;
    /* margin-top: 5px; */
    /* margin-bottom: 20px; */
}

.user-categories__card-title-btn-wrap {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.user-categories__card-title-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    padding: 3px;
    transition: .3s;
}

.user-categories__card-title-btn:hover {
    background-color: rgb(161, 157, 157);
}

.user-categories__card-input-wrap {
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
}

.user-categories__card-btn {
    border: 2px solid black;
    background-color: white;
    padding: 3px 15px;
    font-size: 16px;
    cursor: pointer;
    border-color: #0d48ac;
    color: #0d48ac;
    font-size: 25px;
    margin-left: 12px;
    transition: .3s;
    border-radius: 12px;
}

.user-categories__card-btn:hover {
    background: #0d48ac;
    color: white;
}

.user-categories__card-sub-title {
    margin-top: 10px;
    margin-bottom: 5px;
}

.user-categories__card-sub-category {
    height: 120px;
    overflow: auto;
}

.user-categories__card-sub-category-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #eee;
    padding: 5px;
}

.user-categories__card-sub-category-btn-wrap {
    display: flex;
    gap: 20px;
}

.user-categories__card-sub-category-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    padding: 3px;
    transition: .3s;
}

.user-categories__card-sub-category-btn:hover {
    background-color: rgb(161, 157, 157);
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    
}

@media (min-width: 875px) {
    .user-categories__cards {
        flex-direction: row;
    }

    .user-categories__card {
        width: 49%;
    }
}

@media (min-width: 1080px) {
 
}