.swiper-cards {
    padding-top: 32px;
    padding-bottom: 32px;
}

.swiper-cards--wrap {
    overflow: hidden;
}

.swiper-cards__title-wrap {
    position: relative;
}

.swiper-cards__circle-left {
    position: absolute;
    bottom: -25px;
    right: 48px;
    width: 25px;
    height: 25px;
}

.swiper-cards__circle-right {
    position: absolute;
    bottom: -25px;
    right: 13px;
    width: 25px;
    height: 25px;
}

.swiper-cards__title {
    font-size: 40px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 35px;
}

/* .swiper {
    overflow: visible !important;
} */

.swiper-cards--wrap.container .swiper {
    position: relative;
    overflow: visible;
}

.swiper-backface-hidden .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev {
    top: -30px !important;
    left: auto !important;
    right: 66px !important;
}

.swiper-button-prev::after {
    /* content: '' !important; */
    content: "\2190" !important;
    /* background-image: url(../../assets/images/arrow.svg); */
    width: 36px;
    height: 36px;
    transition: .3s;
    color: var(--colorMainText);
}

.swiper-button-prev:hover::after {
    transform: translateX(-10px);
}

.swiper-button-next {
    top: -30px !important;
    right: 3px !important;
    /* transform: rotate(180deg); */
}

.swiper-button-next::after {
    /* content: '' !important; */
    content: "\2192" !important;
    /* background-image: url(../../assets/images/arrow.svg); */
    width: 36px;
    height: 36px;
    transition: .3s;
    color: var(--colorMainText);
}

.swiper-button-next:hover::after {
    transform: translateX(10px);
}

@media (min-width: 576px) {
    
}
  
@media (min-width: 768px) {
    
}
  
@media (min-width: 1080px) {
    
}