.user-purchases {
    height: calc(100vh - 80px);

}

.user-purchases--wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.user-purchases__title {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

.user-purchases__filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 15px;
    padding:10px 15px;
    margin-top: 15px;
    margin-bottom: 15px; 
    box-shadow: 5px 5px 30px rgb(0 0 0 / 26%);
}

.user-purchases__sort-status-wrap {

}

.user-purchases__sort-status-title {
    margin-right: 8px;
    display: inline-block;
}

.user-purchases__filter-sort-wrap {
    display: flex;
    align-items: center;
    gap: 15px;
}

.ser-purchases__filter-sort-title {

}

.user-purchases__filter-sort-btn-wrap {
    padding: 3px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.user-purchases__filter-sort-btn-wrap--active {
    background: #a9b5c2;
}

.user-purchases__filter-sort-btn-wrap:hover {
    background: #a9b5c2;
}

.user-purchases__filter-sort-btn {
    display: inline-block;
    width: 25px;
    height: 25px;
    /* flex: 0 0 auto;   */
    cursor: pointer;
}


.user-purchases__filter-date-wrap {
    /* margin-left: auto; */
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.user-purchases__filter-date {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.user-purchases__filter-date-label {
    cursor: pointer;
}

.user-purchases__filter-date-input::-webkit-calendar-picker-indicator  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
    cursor: pointer;
}

.user-purchases__filter-date-btn-wrap {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.user-purchases__filter-date-btn {
    border: 2px solid black;
    background-color: white;
    padding: 4px 3px;
    font-size: 14px;
    cursor: pointer;
    border-color: #0d48ac;
    color: #0d48ac;
    margin-top: 3px;
    display: block;
    transition: .3s;
}

.user-purchases__filter-date-btn:hover {
    background: #0d48ac;
    color: white;
}

.user-purchases__items {

}

.user-purchases__item {
    padding:10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 2px 1px 3px rgb(0 0 0 / 52%);
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: .3s;
}

.user-purchases__item:hover {
    box-shadow: 5px 4px 6px rgb(0 0 0 / 92%);
}

.user-purchases__item-status--InProcess {
    background: #007aff36;
}
.user-purchases__item-status--done {
    background: rgb(7 158 27 / 25%);
}
.user-purchases__item-status--notDone {
    background: #e72f0b3b;
}

.user-purchases__item-stars {
    width: 25px;
    height: 25px;
    flex: 0 0 auto;
    cursor: pointer;
    transition: .3s;
}

.user-purchases__item-stars-is-favorite {
    fill: rgb(250, 15, 15);
}

.user-purchases__item-stars:hover {
    fill: rgb(250, 15, 15);
}

.user-purchases__item-name-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    flex: 1 1 auto;
    overflow: hidden;
    width: 160px;
    cursor: pointer;
}

.user-purchases__item-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    font-weight: 700;
}

.user-purchases__item-text-wrap {
    display: none;
    margin-right: 10px;
    flex: 1 1 auto;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
}

.user-purchases__item-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.user-purchases__item-status-wrap {
    display: flex;
    gap: 9px;
}

.user-purchases__item-seen {
    display: inline-block;
    width: 25px;
    height: 25px;
    flex: 0 0 auto;  
    /* cursor: pointer; */
}

.user-purchases__error-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

@media (min-width: 400px) {
    .user-purchases__filter {
        flex-direction: row;
        align-items: center;
    } 
}

@media (min-width: 576px) {
    .user-purchases__item-name-wrap {
        flex: 0 0 auto;
    }

    .user-purchases__item-text-wrap {
        display: block;
    }
}

@media (min-width: 768px) {
    
}

@media (min-width: 1080px) {
 
}