
.read-notifications {
    min-height: calc(100vh - 80px);
    padding-top: 15px;
}

.read-notifications--callBack {
    background: #e72f0b3b;
}
.read-notifications--subscription {
    background: rgb(157 158 7 / 25%);
}

.read-notifications--wrap {

}

.read-notifications__title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}

.read-notifications__text {
    text-align: center;
    font-size: 18px;
}

.read-notifications__text-link {
    font-weight: 700;
    color: #2929e0;
    transition: .3s;
}

.read-notifications__text-link:hover {
    opacity: .7;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    
}

@media (min-width: 1080px) {
 
}