.shopping-cart {
    margin-top: 20px;
    margin-bottom: 10px;
}

.shopping-cart--wrap {

}

.shopping-cart__path {
    margin-top: 10px;
    margin-bottom: 10px;
}

.shopping-cart__path-link {
    
}

.shopping-cart__title {
    font-size: 40px;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.shopping-cart__pdoduct-wrap {

}

.shopping-cart__pdoduct {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px 0;
    border-top: 1px solid #E4E4E5;
    border-bottom: 1px solid #E4E4E5;
} 

.shopping-cart__pdoduct-info-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.shopping-cart__pdoduct-img {
    max-width: 130px;
    cursor: pointer;
}

.shopping-cart__pdoduct-info-text {
    width: 100%;
    display: flex;
    gap: 10px;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.shopping-cart__pdoduct-info {

}

.shopping-cart__pdoduct-info-title {
    margin-bottom: 10px;
}

.shopping-cart__pdoduct-info-size-wrap {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 5px;
}

.shopping-cart__pdoduct-info-colors-wrap {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 5px;
}

.shopping-cart__pdoduct-price-wrap {

}

.shopping-cart__pdoduct-price-old {
    font-size: 16;
    color: red;
    text-decoration: line-through;
}

.shopping-cart__pdoduct-price {
    font-size: 20px;
}

.shopping-cart__pdoduct-count-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.shopping-cart__delete-btn {
    width: 35px;
    height: 35px;
    opacity: .7;
}

.shopping-cart__delete-btn:hover {
    opacity: 1;
    scale: 1.1;
}

.shopping-cart__total-price-wrap {
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 35px;
}

.shopping-cart__total-price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.shopping-cart__total-price-title {
    font-size: 18px;
}

.shopping-cart__total-price-number {
    font-size: 26px;
    font-weight: 700;
}

.shopping-cart__pdoduct-error {
    font-size: 21px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.shopping-cart__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    align-items: baseline;
}

.shopping-cart__form-input-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.shopping-cart__form-title {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.shopping-cart__form-warning {
    position: relative;
    padding-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.shopping-cart__form-warning::before {
    content: '*';
    position: absolute;
    top: 0;
    left: 0;
    color: #E31E24;
}

.shopping-cart__form-input-title {
    position: relative;
}

.shopping-cart__form-input-title::after {
    content: '*';
    position: absolute;
    top: 0;
    right: -8px;
    color: #E31E24;
}

.shopping-cart__form-select-wrap {
    position: relative;
    display: inline-block;
    /* cursor: pointer; */
    width: 250px;
    border: 1px solid #E4E4E5;
    /* margin-left: auto; */
    margin-left: 20px;
}

.shopping-cart__form-select {
    display: flex;
    /* margin-left: 20px; */
    justify-content: space-between;
    padding-left: 7px;
} 

.shopping-cart__form-select-btn-wrap {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 5px;
    transition: .3s;
}

.shopping-cart__form-select-btn-wrap:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.shopping-cart__form-select-btn {
    position: absolute;
    top: 4px;
    left: 7px;
    width: 12px;
    height: 12px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: rotate(-45deg);
}

.shopping-cart__form-select-btn--active {
    top: 9px;
    transform: rotate(135deg);
}

.shopping-cart__form-option-wrap {
    position: absolute;
    background: #fff;
    max-height: 269px;
    max-width: 220px;
    overflow: auto;
    display: flex;
    gap: 7px;
    flex-direction: column;
    left: 0;
    padding-left: 7px;
    margin-top: 3px;
    opacity: 0;
    text-align: start;
    transition: .3s;
}

.shopping-cart__form-option-wrap--active {
    opacity: 1;
    z-index: 10;
}

.shopping-cart__form-option {
    transition: .3s;
}

/* .shopping-cart__form-option:hover {
    scale: 1.03;
} */

.shopping-cart__form-input-label {
    /* position: relative; */
    display: flex;
    /* justify-content: center; */
    align-items: baseline;
}

.shopping-cart__form-input {
    border: 1px solid #E4E4E5;
    padding: 6px 16px;
    margin-left: 17px;
}

.shopping-cart__form-checkbox {
    margin-right: 5px;
}

.shopping-cart__form-textarea-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

.shopping-cart__btn-buy-wrap {
    /* display: block; */
}

.shopping-cart__form-checkbox-title {
    position: relative;
}

.shopping-cart__form-checkbox-title::after {
    content: '*';
    position: absolute;
    top: 0;
    right: -8px;
    color: #E31E24;
}

.shopping-cart__btn-buy {
    border: 1px solid #000;
    padding: 0px 20px;
    margin-top: 8px;
    height: 55px;
    transition: .3s;
}

.shopping-cart__btn-buy:hover {
    background: rgb(121, 117, 117);
    color: #fff;
}

.shopping-cart__submit-error {
    position: relative;
    color: #E31E24;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.shopping-cart__submit-error-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    top: -11px;
    right: -17px;
    border: 1px solid #E31E24;
    border-radius: 50%;
    padding-bottom: 2px;
}

.shopping-cart__history {
    margin-top: 15px;
    margin-bottom: 15px;
}

.shopping-cart__history-title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}

.shopping-cart__history-items {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.shopping-cart__history-item {
    height: 100%;
}

.shopping-cart__history-item-img {
    aspect-ratio: 9 / 16;
    width: 200px;
    cursor: pointer;
}

.shopping-cart__history-text {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

@media (min-width: 576px) {
    .shopping-cart__pdoduct {
        flex-direction: row;
    } 

    .shopping-cart__pdoduct-info-wrap {
        width: 50%;
    }

    .shopping-cart__pdoduct-info-text {
        flex-direction: column;
        align-items: flex-start;
    }

    .shopping-cart__pdoduct-count-wrap {
        justify-content: space-around;
        width: 50%;
    }

    .shopping-cart__btn-buy-wrap {
        display: flex;
        gap: 40px;
        margin-left: auto;
    }

    .shopping-cart__submit-error {
        margin-left: auto;
    }
}
@media (min-width: 768px) {
    .shopping-cart__pdoduct-info-text {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}
  
@media (min-width: 1080px) {

}