.user-product {
    min-height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-product--wrap {

}

.user-product__title {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

.user-product__sub-title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 20px;
}

.user-product__sub-title {
    /* text-align: center; */
}

.user-product__sub-title-btn {
    border: 2px solid black;
    background-color: white;
    padding: 6px 15px;
    font-size: 14px;
    cursor: pointer;
    border-color: #0d48ac;
    color: #0d48ac;
    display: block;
    transition: .3s;
}

.user-product__sub-title-btn:hover {
    background: #0d48ac;
    color: white;
}

.user-product__filter-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-product__filter {
    display: flex;
    flex-direction: column;
}

.user-product__filter-search-input-label {
    display: block;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-product__filter-search-input-wrap {
    display: flex;
    align-items: center;
}

.user-product__filter-search-input {
    padding: 10px 20px;
    max-width: 35%;
    width: 100%;
    min-width: 200px;
    /* margin-bottom: 10px; */
    font-size: 14px;
    line-height: 17px;
    color: #333;
    outline: none;
    /* border-radius: 8px; */
    background: #f6f7fa;
    border: 2px solid #065bea;
}

.user-product__filter-search-btn {
    border: 2px solid black;
    background-color: white;
    padding: 4px 3px;
    font-size: 14px;
    cursor: pointer;
    border-color: #0d48ac;
    color: #0d48ac;
    height: 41px;
    display: block;
    transition: .3s;
}

.user-product__filter-search-btn:hover {
    background: #0d48ac;
    color: white;
}
/* -------------- */
.user-product__price-wrap {
    position: relative;
    display: flex;
    align-items: center;
}

.user-product__price-label {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

.user-product__price-select-wrap {
    display: inline-block;
    cursor: pointer;
}

.user-product__price-select {
    display: flex;
    margin-left: 5px;
} 

.user-product__price-select-btn-wrap {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 5px;
    transition: .3s;
}

.user-product__price-select-btn-wrap:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.user-product__price-select-btn {
    position: absolute;
    top: 4px;
    left: 7px;
    width: 12px;
    height: 12px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: rotate(-45deg);
}

.user-product__price-select-btn--active {
    top: 9px;
    transform: rotate(135deg);
}

.user-product__price-option-wrap {
    position: absolute;
    background: #fff;
    /* height: 350px; */
    /* width: 141px; */
    overflow: auto;
    display: flex;
    gap: 5px;
    flex-direction: column;
    right: 0;
    top: 30px;
    padding-right: 8px;
    opacity: 0;
    text-align: end;
    z-index: -1;
    transition: .3s;
}

.user-product__price-option-wrap--active {
    opacity: 1;
    z-index: 10;
}

.user-product__price-option {
    cursor: pointer;
    transition: .3s;
    margin-top: 3px;
    font-weight: 700;
    margin-bottom: 3px;
}

.user-product__price-option:hover {
    background: rgba(0, 0, 0, 0.2);
}
/* ----------- */
.user-product__category-wrap {
    position: relative;
    display: flex;
    align-items: center;
}

.user-product__category-label {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

.user-product__category-select-wrap {
    display: inline-block;
    cursor: pointer;
}

.user-product__category-select {
    display: flex;
    margin-left: 5px;
} 

.user-product__category-select-btn-wrap {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 5px;
    transition: .3s;
}

.user-product__category-select-btn-wrap:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.user-product__category-select-btn {
    position: absolute;
    top: 4px;
    left: 7px;
    width: 12px;
    height: 12px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: rotate(-45deg);
}

.user-product__category-select-btn--active {
    top: 9px;
    transform: rotate(135deg);
}

.user-product__category-option-wrap {
    position: absolute;
    background: #fff;
    height: 350px;
    width: 141px;
    overflow: auto;
    display: flex;
    gap: 5px;
    flex-direction: column;
    right: 0;
    top: 30px;
    padding-right: 8px;
    opacity: 0;
    text-align: end;
    z-index: -1;
    transition: .3s;
}

.user-product__category-option-wrap--active {
    opacity: 1;
    z-index: 10;
}

.user-product__category-option {
}


.user-product__category-option-category {
    cursor: pointer;
    transition: .3s;
    margin-top: 3px;
    font-weight: 700;
    margin-bottom: 3px;
}

.user-product__category-option-category:hover {
    background: rgba(0, 0, 0, 0.2);
}

.user-product__category-option-sub-category {
    cursor: pointer;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 3px;
    transition: .3s;
    /* padding-left: 5px; */
}

.user-product__category-option-sub-category:hover {
    background: rgba(0, 0, 0, 0.2);
}

.user-product__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.user-product__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    height: 806px;
    margin: 5px;
    border: 2px solid #0d48ac;
    aspect-ratio: 9 / 16;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px -7px, rgb(0 0 0 / 14%) 0px 13px 13px 3px, rgb(0 0 0 / 12%) 0px 9px 30px 8px;
}

.user-product__card-wrap {
}

.user-product__card-swiper-wrap .swiper-button-next {
    top: 50% !important;
    right: 16px !important;
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
}

.user-product__card-swiper-wrap .swiper-button-prev {
    top: 50% !important;
    left: 16px !important;
    width: 50px;
    height: 50px;
}

.user-product__card-swiper-wrap .swiper-button-next::after {
    content: '' !important;
    background-image: url(../../assets/images/arrowCircle.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    transition: .3s;
} 

.user-product__card-swiper-wrap .swiper-button-prev::after {
    content: '' !important;
    background-image: url(../../assets/images/arrowCircle.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    transition: .3s;
} 

.user-product__card-swiper-wrap .swiper-button-next:hover::after {
    transform: translateX(-10px);
}

.user-product__card-swiper-wrap .swiper-button-prev:hover::after {
    transform: translateX(-10px);
}

.user-product__card-swiper-img {

}

.user-product__card-swiper-img-none {
    padding: 15px;
    height: 372px;
    object-fit: contain;
}

.user-product__card-info {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.user-product__card-info-title-wrap {
    margin-top: 7px;
    margin-bottom: 7px;
    display: flex;
    flex-wrap: wrap;
}

.user-product__card-info-title {
    font-weight: 700;
}

.user-product__card-info-text {

}

.user-product__card-info-text-red {
    color: #E31E24;
}

.user-product__card-info-details {
    max-height: 120px;
    overflow: auto;
}

.user-product__card-btn-wrap {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

.user-product__card-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    padding: 3px;
    transition: .3s;
}

.user-product__card-btn:hover {
    background-color: rgb(161, 157, 157);
}

    
@media (min-width: 576px) {

}

@media (min-width: 768px) {
    
}

@media (min-width: 1080px) {
 
}