.product-information {

}

.product-information__path {
    margin-top: 15px;
    margin-bottom: 15px;
}

.product-information__path-link {
    position: relative;
}

.product-information__path-link::before {
    content: '';
    display: inline;
    width: 0%;
    height: 0.2em;
    position: absolute;
    bottom: -4px;
    background-color: rgb(56, 54, 54);
    transition: width .3s ease-in;
}
  
.product-information__path-link:hover::before {
    width: 100%;
}

.product-information--wrap {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-information__swiper-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-information__swiper-img-none {
    padding: 15px;
    height: 372px;
    object-fit: contain;
}

.product-information__swiper-wrap .swiper-button-next {
    
} 

.product-information__swiper-wrap .swiper-button-next::after {
    content: '' !important;
    background-image: url(../../assets/images/arrowCircle.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    transition: .3s;
} 

.product-information__swiper-wrap .swiper-button-prev {
    
} 

.product-information__swiper-wrap .swiper-button-prev::after {
    content: '' !important;
    background-image: url(../../assets/images/arrowCircle.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    transition: .3s;
} 
.swiper-pagination-fraction {
    font-size: 22px;
}

.product-information__wrap-info {

}

.product-information__title {
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.swiper-pagination {
    transform: translate3d(0,38px,0);
}

.product-information__swiper-wrap .swiper-button-next {
    top: 50% !important;
    right: 16px !important;
    width: 50px;
    height: 50px;
}

.product-information__swiper-wrap .swiper-button-prev {
    top: 50% !important;
    left: 16px !important;
    width: 50px;
    height: 50px;
}

.product-information__price-wrap {
    display: flex;
    gap: 15px;
    align-items: center;
}

.product-information__price {
    font-size: 50px;
}

.product-information__price-old {
    font-size: 26px;
    line-height: 26px;
    text-decoration: line-through;
}

.product-information__new-price {
    color: #E31E24;
    font-size: 50px;
    line-height: 50px;
}

.product-information__size {
    margin-top: 15px;
    margin-bottom: 15px;
}

.product-information__description {
    margin-top: 15px;
    margin-bottom: 15px;
} 

.product-information__btn-cart-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-information__delivery-mthods {
    margin-top: 15px;
    margin-bottom: 15px;
}

.product-information__payment-methods {
    margin-top: 15px;
    margin-bottom: 15px; 
}
@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    .product-information--wrap {
        display: flex;
        gap: 15px;
    }

    .product-information__swiper-wrap {
        width: 55%;
    }

    .product-information__wrap-info {
        width: 45%;
    }
}

@media (min-width: 1080px) {

}