.product-filter {

}

.product-filter--wrap {

}

.product-filter__path {
    font-size: 12px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.product-filter__title {
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 32px;
    margin-bottom: 32px;
}


@media (min-width: 576px) {

}

@media (min-width: 768px) {
    
}

@media (min-width: 1080px) {
   
}