.product-filter {

}

.product-filter--wrap {

}

.product-filter__path {
    font-size: 12px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.product-filter__title {
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 32px;
    margin-bottom: 32px;
}

.product-filter__filter-wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 16px;
   margin-bottom: 16px;
}

.product-filter__filter {

}

.product-filter__sort-wrap {

}

.product-filter__sort-label {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

.product-filter__sort-select {
    border: none;
}

.product-filter__sort-select:focus-visible {
    border: none;
}

.product-filter__sort-option {

}

.product-filter__item--wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
}

.product-filter__item {
    
}

.product-filter__last-product {
    margin-bottom: 28px;
}

.product-filter__last-product-title {
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.product-filter__last-product-werap-cart {
    display: flex;
    gap: 15px;
}
@media (min-width: 450px) {
    .product-filter__item {
        max-width: 200px;
        min-width: 200px;
        width: 100%;
    }
}
@media (min-width: 576px) {
    .product-filter__item {
        max-width: 260px;
        min-width: 200px;
        width: 100%;
    }
}

@media (min-width: 768px) {
    
}

@media (min-width: 1080px) {
   
}