.layout-user {
    position: relative;
}

.layout-user--wrpa {
    overflow: hidden;
}

.layout-user__sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #0d48ac;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 18px;
}

.layout-user__sidenav--open {
    transition: 0.5s;
    left: 250;
}

.layout-user__sidenav--close {
    transition: 0.5s;
    left: -100%;
}

.layout-user__sidenav-btn-wrap {
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
    margin-right: 30px;
    color: #fff;
    /* cursor: pointer; */
    font-size: 33px;
    transition: .3s;
}

.layout-user__sidenav-btn {
    transition: .3s;
    cursor: pointer;
}

.layout-user__sidenav-btn:hover {
    scale: 1.14;
}

.layout-user__sidenav-title {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 18px;
}

.layout-user__sidenav-link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: 0.3s;
}

.layout-user__sidenav-link:hover {
    color: #c3bcbc;
    scale: 1.05;
}

.layout-user__closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.layout-user__main {
    transition: 0.5s;
    /* padding: 16px; */
}

.layout-user__main--open {
    transition: 0.5s;
    margin-left: 250px;
}

.layout-user__main--close {
    transition: 0.5s;
    margin-left: 0;
}

.layout-user__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 30px rgb(0 0 0 / 15%);
    padding-top: 15px;
    padding-bottom: 15px;
}

.layout-user__header-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.layout-user__header-menu-span {
    width: 100%;
    height: 2px;
    background-color: #000;
}

.layout-user__header-menu-span2 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.layout-user__header-menu-span--open1 {
    width: 68%;
}

.layout-user__header-menu-span--open3 {
   width: 48%; 
}

.layout-user__header-btn--wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.layout-user__header-btn-message {
    display: none;
    position: relative;
}

.layout-user__header-btn-message-img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.layout-user__header-btn-message-circle {
    position: absolute;
    top: -15px;
    right: -16px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #0d48ac;
    font-size: 11px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-user__header-avatar-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.layout-user__header-avatar-img {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.layout-user__header-avatar-name {

}

.layout-user__header-login-wrap {
    display: none;
}

@media (min-width: 400px) {
  .layout-user__header-btn-message {
      display: block;
  }

  .layout-user__header-login-wrap {
      display: block;
  }
}
  
@media (min-width: 576px) {
    .layout-user__sidenav {padding-top: 15px;}
    .layout-user__sidenav a {font-size: 18px;}
}
  
@media (min-width: 768px) {
    .layout-user__sidenav {
        width: 250px;
    }

    
    .layout-user__sidenav--close {
        left: -500px;
    }
}

@media (min-width: 960px) {
  
}
  
@media (min-width: 1080px) {
    
}